<mat-card class="border">
  <div [innerHTML]="notificationConfigure.text"></div>
  <mat-card-actions
    class="d-flex justify-content-around"
    *ngIf="
      notificationConfigure.doneCallback && notificationConfigure.undoCallback
    "
  >
    <button
      mat-icon-button
      click-stop-propagation
      *ngIf="notificationConfigure.doneCallback"
    >
      <mat-icon> done </mat-icon>
    </button>
    <button
      mat-icon-button
      click-stop-propagation
      *ngIf="notificationConfigure.undoCallback"
    >
      <mat-icon> clear </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
