@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 90px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "../src/app/notes/note-dialog/note-dialog.component.scss";
