<div class="buttons-panel">
  <div class="add-note">
    <button mat-button (click)="this.noteService.createNote()">
      <mat-icon class="mx-1">add</mat-icon>
      Add new note
    </button>
  </div>
  <notifications-notifications> </notifications-notifications>
</div>
<div #gridElement class="grid hide">
  <div #notes class="item col p-1" *ngFor="let note of noteService.notes">
    <div class="item-content">
      <notes-note [note]="note"></notes-note>
    </div>
  </div>
</div>
